
@{
    ViewBag.Title = "Authentication";
}

<h2>Authentication</h2>
<br />
<div class="roat">
    <form action="/Home/GetRole" method="post">
        <input type="text" name="Login" placeholder="Login" value="" />
        <input type="password" name="Password" placeholder="Password" value="" />
        <input type="submit" value="Submit" />
    </form>
    <p style="color:red; font-style:italic">@ViewBag.Message</p>
</div>

