@{
    ViewBag.Title = "Poultry Farm";
}

<div class="jumbotron text-center">
    <h1>Poultry Farm</h1>
    <p class="lead">Вебсайт предназначен для автоматизации работы птицефабрики.</p>
    <p class="lead">Перейдите в раздел "Возможности", чтобы начать работу.</p>
    <p><a href="Home/GetMyCapability" class="btn btn-primary btn-lg">Перейти! &raquo;</a></p>
</div>